@charset "UTF-8";

.body {
	line-height: 1.5em;
	margin: 0px font-weight: 300;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

form {
	width: 700px;
	margin-bottom: 10px;
}

.card-header.div {
	margin-left: 20px;
	align-items: center;
}

.card-body {
	margin: 10px;
}

#reqContent {
	width: inherit;
	height: 200px;
	border-radius: 5px;
}

#privacy {
	text-align: center;
}

#privacy .label {
	width: 90px;
	display: inline-block;
	align-items: center;
	margin-top: 5px;
}

#privacy .right {
	margin-left: 30%;
}

#privacy input {
	width: 150px;
}

.write {
	margin: 15px 15px;
}

#reqTitle {
	width: 670px;
}

[name="status"] {
	width: 100px;
	font-size: 10px;
	background-color: #e0e0e0;
	border-radius: 10px;
}

[name="status"][id="status_one"] {
	background-color: #1cc88a;
}