@charset "UTF-8";
<style>
a {
	text-decoration: none;
}
	.wrapper{
		display : flex;
		justify-content: center;
		align-items: center;
	}
form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
	width: 1050px;
	position: relative;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	-webkit-box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
	box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
	margin-bottom: 50px;
}

.section1 {
	background-color: #f8f9fc;
	border-bottom: 1px solid #e3e6f0;
	height : 54px;
	width: 1047px;
	overflow: hidden;
	text-align: start;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f8f9fc;
}

.section1 h4 {
	color: black;
	font: bold;
	margin: 15px 15px;
}

.section2 article {
	width: 500px;
	height: 200px;
	overflow: hidden;
	position: absolute;
	margin: 120px 50px;
	left: 0%;
	top: 10%;
}

.section2 img {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	left: 7%;
}

.section2 #mfile {
	position: absolute;
	top: 80%;
	left: 0%;
	width: 220px;
}

.section2 article button {
	position: absolute;
	left: 35%;
	top: 90%;
	transform: translate(-50%, -50%);
}

.section2 .userData {
	position: absolute;
	width: inherit;
	height: 300px;
	left: 25%;
	top: -1%;
	height: 300px;
	left: 25%;
}

.item {
	/* border: 1px solid red; */
	width: 250px;
	margin-bottom: 10px;
	position: relative;
}

.item input {
	height: 40px;
	width: inherit;
	padding: 10px;
	box-sizing: border-box;
	padding-left: 40px;
	outline: none;
	transition: 0.3s;
}

.item .fa {
	position: absolute;
	top: 0;
	left: 0;
	color: gray;
	font-size: 20px;
	width: 40px;
	height: 40px;
	/* border: 1px solid blue; */
	text-align: center;
	line-height: 40px;
	transition: 0.3s;
	z-index: 3;
}

.item select {
	height: 40px;
	width: inherit;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	padding-left: 40px;
	outline: none;
	transition: 0.3s;
}

.item input:focus {
	box-shadow: 0 0 5px  #5a5c69;
}

.item input:focus+.fa {
	color:  #5a5c69;
}

.item input:focus::placeholder {
	visibility: hidden;
}

.item select:focus+.fa {
	color:  #5a5c69;
}

.item select:focus+.fa {
	color:  #5a5c69;
}

.item select:focus {
	box-shadow: 0 0 5px  #5a5c69;
}

.section2 .userData2 {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 55%;
	top: -1%;
	z-index: 5;
}

.section2 .address-input {
	position: absolute;
	margin: 0;
	width: 580px;
	height: 150px;
	left: 29%;
	top: 52%;
	box-sizing: border-box;
	z-index: 5;
}

.section2 .address-input div {
	float: left;
}

.section2 .address-input .address1, .section2 .address-input .address3 {
	margin-left: 7px;
}

.section2 .address-input .address1 {
	width: 180px;
}

.section2 .address-input .address2 {
	margin-left: 10px;
	width: 290px;
}

.section2 .address-input .address3 {
	width: 510px;
}

.section2 .address-input .address-button {
	position: absolute;
	left: 77%;
	top: 15%;
}

.section2 article.submit-button {
	width: 150px;
	height: 150px;
	left: 50%;
	top: 50%;
	margin: 0;
	z-index: 5;
}

.section2 article.return-button {
	width: 120px;
	height: 150px;
	left: 55%;
	top: 35%;
	z-index: 5;
}



</style>